---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>how to book a trip</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
        <span class="sr-only">RSS Feed</span>
      </a>

      <h2 id="step-1-determine-your-destination-and-dates">
        Step 1: Determine Your Destination and Dates
      </h2>
      <ul>
        <li>Consider your interests, budget, and available time off.</li>
        <li>
          Research different destinations and choose the one that appeals to you
          most.
        </li>
        <li>Decide on your desired travel dates.</li>
      </ul>
      <h2 id="step-2-find-flights">Step 2: Find Flights</h2>
      <ul>
        <li>
          Check flight comparison websites (e.g., Google Flights, Skyscanner)
          for the best deals.
        </li>
        <li>Consider airlines, flight times, and baggage policies.</li>
        <li>
          Book your flights directly with the airline or through a travel agent.
        </li>
      </ul>
      <h2 id="step-3-book-accommodation">Step 3: Book Accommodation</h2>
      <ul>
        <li>
          Choose between hotels, vacation rentals, hostels, or other options.
        </li>
        <li>Compare prices and amenities to find the best fit.</li>
        <li>
          <p>
            Book directly with the property or through a booking platform (e.g.,
            Expedia, <a href="https://booking.com">Booking.com</a>).
          </p>
          <h2 id="step-4-arrange-transportation-to-and-from-the-airport">
            Step 4: Arrange Transportation to and from the Airport
          </h2>
        </li>
        <li>
          <p>
            Consider airport transfers, taxis, public transportation, or rental
            cars.
          </p>
        </li>
        <li>
          <p>
            Book these services in advance to secure availability and avoid
            last-minute delays.
          </p>
          <h2 id="step-5-plan-activities-and-tours">
            Step 5: Plan Activities and Tours
          </h2>
        </li>
        <li>
          <p>Research activities and tours available at your destination.</p>
        </li>
        <li>Book in advance, especially during peak season.</li>
        <li>
          <p>Consider guided tours, day trips, or local experiences.</p>
          <h2 id="step-6-other-considerations">Step 6: Other Considerations</h2>
        </li>
        <li><p>Visa: Check if you need a visa for your destination.</p></li>
        <li>Travel insurance: Protect yourself against unexpected events.</li>
        <li>Vaccinations: Ensure you have any necessary vaccinations.</li>
        <li>
          Currency: Exchange currency before your trip or consider using ATMs
          abroad.
        </li>
        <li>
          <p>
            Luggage: Choose luggage that meets airline size and weight
            requirements.
          </p>
          <h2 id="tips-for-saving-money-">Tips for Saving Money:</h2>
        </li>
        <li><p>Travel during off-season or shoulder season.</p></li>
        <li>
          Book flights and accommodations in advance for early bird discounts.
        </li>
        <li>Consider budget airlines and hostels.</li>
        <li>Look for package deals that combine flights and accommodation.</li>
        <li>
          <p>Take advantage of airline loyalty programs and discounts.</p>
          <h2 id="additional-resources-">Additional Resources:</h2>
        </li>
        <li><p>Tourist Offices</p></li>
        <li>Travel Websites</li>
        <li>Travel Blogs</li>
        <li>Travel Agents</li>
      </ul>

      <p>
        Read the blog posts or check
        <LinkButton
          className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
          href="https://github.com/satnaing/astro-paper#readme"
        >
          README
        </LinkButton> for more info.
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent Posts</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < 4 && (
                  <Card
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="/posts/">
        All Posts
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
